/* =================================
  Element Styles
==================================== */
body {
    font-family: sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

h3 {
  position: absolute;
  font-size: 20px;
  padding-top: 10px;
}

#root {
  display: flex;
  height: auto;
  box-shadow: 0 1px 10px rgba(170,170,170,0.15), 0 1px 10px rgba(170,170,170,0.15);
  z-index: 1;
  margin: 5%;
  justify-content: center;
  box-sizing: border-box;
}

.calendar {
  width: 80%;
  margin-top: 3%;
  margin-bottom: 10%;
}

 /* =================================
  CalendarNav
==================================== */
.calendar__nav {
    display: flex;

    padding: 2rem 1rem;

    justify-content: center;
    align-items: center;
}

.calendar__nav h2 {
    font-size: 20px;
    font-weight: 100;
    width: 50%;
    font-weight: 500;
    text-align: center;
}
.calendar__nav button {
    width: 30px;
    height: 30px;
    padding: 0;
    cursor: pointer;
    text-align: center;
    border: 0;
    outline: 0;
}

/* =================================
  CalendarHeader
==================================== */
.calendar__header {
  display: flex;
  font-weight: 500;
  padding-bottom: 20px;
  text-align: -webkit-center;
}

.calendar__header div {
  flex: 1;
}

/* =================================
  Week
==================================== */
.week {
    display: flex;
}

/* =================================
  Days of the Week
==================================== */
.week__day {
  position: relative;
  padding: 1rem;
  font-weight: 340;
  text-align: center;
  flex: 1;
}

.week__day {
  border-radius: 0;
}

.week__day--today {
  color: white;
  background-color: #3e3e3e;
}

.week__day--weekend {
  color: #3e3e3e;
  background-color: #f3f3f3;
}

.week__day--past {
  cursor: not-allowed;
  color: #cfcfcf;
  background-color: #f7f8fb;
}

.week__day--selected {
  cursor: pointer;
}

/* =================================
  Reminders
==================================== */
.formParent {
  padding-top: 20px;
  position: absolute;
  z-index: 2;
  box-shadow: 0 1px 10px rgba(170,170,170,0.15), 0 1px 10px rgba(170,170,170,0.15);
}

.reminder {
  display: grid;
}

.reminder__label {
  width: 95%;
  font-size: 13px;
  position: absolute;
  padding: 3px;
  background-color: #aba7a7;
}

.reminder__label.reminder__label--work {
  background-color: #7e7dd7;
}

.reminder__label.reminder__label--calendar {
  background-color: #7ff297;
}

/* =================================
  Button Styles
==================================== */
.btnDelete,
.btnSave {
  font-weight: 600;
}

.btnDelete {
  background-color: #ed5e67;
  color: #fff;
}

.btnSave {
  background-color: #8388a4;
}
